 
   ALTER TABLE {{entity.name|capitalize}}
ADD CONSTRAINT FK_{{entity.properties[0].name|capitalize}}
FOREIGN KEY ({{entity.properties[0].name|capitalize}}ID) REFERENCES Persona({{entity.properties[0].name|capitalize}}); 

