

CREATE TABLE {{entity.name|capitalize}} (
	{% for property in entity.properties %}
	{% if loop.last%}
    {{property.name}} {{property.type|sqltype}}
	{% else %}
	{{property.name}} {{property.type|sqltype}},
	{% endif %}
   {% endfor %}
   );

  
